/*Start Full body Css*/
[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
	
	font-size: 14px;
}
.checkbox-inline, .radio-inline{
	padding-left: 0px;
}
.button, .btn:hover{
	background: #ff5a01;
}
/*End Full body Css*/

.row_left{
	margin-left:7.6%
}
.row_top{
	padding-top: 30px;
}
.layout_top{
	padding-top: 55px;
}
.row_bottom{
	padding-bottom: 20px
}

/*slider*/
.carousel-inner .item{
	max-height: 405px;
	max-width: 100%;
	object-fit: contain
}
.container--head {
	background: #BF3E11;
}

.tooltip-carousel {
	position: absolute;
	z-index: 11;
	border-radius: 50%;
}

.caraousel-tooltip-item {
	display: none;
}

.caraousel-tooltip-item.active {
	display: block;
}
/*slider*/

/*Start Image hover Css*/
.i-con{
	position: relative;
    display: inline-block;
}

.i-con .img_front{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}
.item-inner:hover .img_front {
    display: inline;
}

/*Start Top bar Css*/

.loginas{
	color: #FF5A01;
    padding: 7px 0px 0px 35px;
    float: left;
    display: block;
}
/*End Top bar Css*/

/*Start Login page Css*/

.well-form{
	background-color: #FFFFFF;
	min-height: 395px;
}

/*End Login page Css*/


/*Start Registration page Css*/

.pull-form{
	padding-left: 145px;
}

/*End Registration page Css*/

/*Start Single product page Css*/
.btn_visible{
	visibility: visible !important; 
}
/*End Single product page Css*/

/*Start cart page Css*/

.txt_color a{
	color: #fff !important;
}

.txt_color a:hover{
	color: #fff !important;
}

/*End cart page Css*/