/*Other Component*/
.space_top{
	padding-top: 15px;
}
.star-left{
	float: left;
	padding-top: 2px;
	color:#FB5A27;
}
.txt-left {
	text-align: left !important;
}
/*END Other Component*/

/*Start Footer*/
.footer{
	background-color: #fff;
	border-top: 1px solid #eee;
}

.footer a {
	color: #FB5A27 !important;
	font-weight: bold;
    text-decoration: none;
}
/*End Footer*/

.form-lbl{
	margin-bottom: 7px !important;
}

.form-ckbox{
	padding-left:20px;
}

.form-switch{
	padding-left:20px;
}

/*Radio button*/

[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
	padding-left: 15px;
	font-size: 14px;
}